/**
 * OneKey
 * Author link Github(https://github.com/tiendungkid)
 */
body {
    background: rgb(238, 174, 202) !important;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 0.908000700280112) 100%) !important;
}

a {
    text-decoration: none !important;
}

/**
 * Logo
 */
.logo {
    max-width: 100px;
    max-height: 100px;
}

.logo-link {
    color: #1b1e21 !important;
}
