.form-ok-tags .bootstrap-tagsinput {
    width: 100%;
}

.form-ok-tags .badge {
    background-color: #7cc7e6;
    font-size: 18px;
    text-transform: none !important;
}

.card-footer .pagination {
    justify-content: center;
}

/**
 * Placeholder
 */
.all-account-container #all-account-search-placeholder {
    display: none;
}

.all-account-container .ph-item {
    padding: 0 !important;
    border: none !important;
}

.all-account-container .ph-button {
    width: 120px;
}

.all-account-container .ph-button div:not(:last-child) {
    margin-right: .5rem;
}

.all-account-container .ph-avatar {
    width: 48px;
    height: 48px;
    min-width: auto;
}

/**
 * List account
 */
