@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes btn-animate {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
body {
  font-family: "Rubik", sans-serif;
  width: 100%;
  overflow: hidden;
  background-color: rgba(154, 236, 219, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ok-app {
  height: 80vh;
  width: 60%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
@media (max-width: 650px) {
  .ok-app {
    width: 80%;
  }
}
.ok-app .ok-left {
  flex: 0 50%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.ok-app .ok-left::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 650px) {
  .ok-app .ok-left {
    flex: 0 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.ok-app .ok-left img {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.56);
  transition: margin-top 1s;
}
.ok-app .ok-left img[alt=spinner] {
  display: none;
}
.ok-app .ok-left form {
  margin: 0 10%;
}
.ok-app .ok-left form hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ok-app .ok-left form h3 {
  font-size: 30px;
  color: rgba(53, 53, 53, 0.74);
}
.ok-app .ok-left form input {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  border-radius: 3px;
  padding: 10px 15px;
  display: block;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
  margin: 0 auto 25px 0;
}
.ok-app .ok-left form input:-webkit-autofill, .ok-app .ok-left form input:-webkit-autofill:hover, .ok-app .ok-left form input:-webkit-autofill:focus, .ok-app .ok-left form input:-webkit-autofill:active {
  -webkit-text-fill-color: #53e3a6;
}
.ok-app .ok-left form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.ok-app .ok-left form input:focus {
  background-color: white;
  width: 100%;
  color: #53e3a6;
}
@media (max-width: 650px) {
  .ok-app .ok-left form input:focus {
    width: 95%;
  }
}
.ok-app .ok-left form input:focus::placeholder {
  color: white;
}
.ok-app .ok-left form input:visited::placeholder {
  color: white;
}
.ok-app .ok-left form input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}
.ok-app .ok-left form input[type=checkbox]:checked + label[for=remember] span:first-child {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  animation: wave 0.4s ease;
}
.ok-app .ok-left form input[type=checkbox]:checked + label[for=remember] span:first-child svg {
  stroke-dashoffset: 0;
}
.ok-app .ok-left form label[for=remember] {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  color: rgba(53, 53, 53, 0.74);
  transition: all 0.2s ease;
}
.ok-app .ok-left form label[for=remember] span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.ok-app .ok-left form label[for=remember] span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.ok-app .ok-left form label[for=remember] span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.ok-app .ok-left form label[for=remember] span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.ok-app .ok-left form .ok-check-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
.ok-app .ok-left form button {
  display: block;
  margin: 25px auto 25px 0;
  width: 97%;
  color: #757575;
  height: 50px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  letter-spacing: 0.05em;
  font-size: 15px;
}
.ok-app .ok-left form button:hover {
  animation: btn-animate 0.4s ease-in-out infinite alternate;
}
.ok-app .ok-right {
  background-color: #51c2a4;
  height: 100%;
  flex: 0 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
@media (max-width: 650px) {
  .ok-app .ok-right {
    display: none;
  }
}
.ok-app .ok-right h1 {
  color: white;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.ok-app .ok-right h1 span {
  padding: 10px;
  background-color: #52d3a5;
}

/*# sourceMappingURL=home.css.map */
