.add-payment-method-img {
    width: 30px;
    height: 30px;
}

.provider-icon {
    width: 45px;
    height: 45px;
}

.card button {
    opacity: 0.8;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.card:hover .btn {
    opacity: 1;
}
