@keyframes nav-active-pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(0, 181, 255);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(0, 181, 255);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(0, 181, 255);
    }
}
