body {
    background-color: #eff7fe !important;
}

.service-card {
    margin-bottom: 30px;
    cursor: pointer;
}

.service-card a {
    text-decoration: none !important;
}

.service-card .service-inner {
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    transition-delay: .2s;
    transform: translateZ(0);
}

.service-card:hover .service-inner {
    box-shadow: rgba(45, 45, 45, 0.05) 0 2px 2px, rgba(49, 49, 49, 0.05) 0 4px 4px, rgba(42, 42, 42, 0.05) 0 8px 8px, rgba(32, 32, 32, 0.05) 0 16px 16px, rgba(49, 49, 49, 0.05) 0 32px 32px, rgba(35, 35, 35, 0.05) 0 64px 64px;
    transform: translate(0, -4px);
}

.service-card .service-logo {
    border-top: 2px solid #467cc8;
    border-left: 2px solid #467cc8;
    border-right: 2px solid #467cc8;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
}

.service-card .service-info {
    text-align: left;
    padding: 30px 20px 20px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    color: #212529;
    background-image: url("https://one-key.test/images/sys/sys-temp.jpg");
    background-size: 100%;
}

.service-card .service-info a {
    color: white;
}

.service-card .service-count {
    font-size: 11px;
    padding-top: 5px;
    position: absolute;
    left: 20px;
    top: -52px;
    text-align: center;
    z-index: 2;
    line-height: 14px;
}

.service-card .service-count .count {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

.service-card .service-count::before {
    position: absolute;
    top: 5px;
    left: -25px;
    content: "";
    display: block;
    width: 76px;
    height: 26px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 76px auto;
    background-image: url("https://one-key.test/images/svgs/service-count.svg");
    clip: rect(0px, 76px, 26px, 10px);
    z-index: 0;
}

.service-card .service-count .count {
    position: relative;
    z-index: 2;
    left: -4px;
    top: 6px;
    width: 34px;
}

/**
 * Placeholder
 */
#service-info-placeholder.ph-item {
    border: none !important;
    background-color: #eff7fe;
}
